<p>Use at your own risk,   If I were to build this correctly it would use end to
end encryption.  I may just do that for the fun of it but for right now this is
a completely insecure instant messaging system.  I assue all I would have to
is create a public and private key pair with a salt to secure the messages between
end points.  Of course I need to activate ssl as well.</p>

<p>I'm considering <a href="https://blog.pusher.com/end-to-end-encryption-support-for-ruby/">Pusher</a></p>
